// Default Color
$bg-default: #0984e3;

// Hover Color
$hover-color: #0984e3;

// White Color
$white-color: #ffffff;

// Gray Color
$gray-color: #f2f4f8;

// Dark Color
$dark-color: #151518;

// Heading Color
$heading-color: #3a3a3a;

// Text Color
$text-color: #7b7b7b;

// Green  Color
$bg-green: #4caf50;